:root {
  /* Text colors */
  --main-title-color: #ffffff;
  --upper-title-color: #303030;
  --upper-title-color-theme-dark: rgba(157, 164, 189, 0.6);
  --under-tittle-color-theme-dark: #9da4bd;
  --under-title-color: #555;
  --accent-color: #ff6c00;
  --background-color: #191c26;

/* Buttons colors */
  --main-btn-color: #ffffff;
  --secondary-btn-color: #303030;
  
/* Others */
  --indent: 30px;
  --items: 3;
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* reset ends */
.btn {
  min-width: 160px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  color: var(--secondary-btn-color);
  border: 1px solid var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Titles */
.title {
  margin-bottom: 20px;
  color: var(--upper-title-color);
  font-family: "Raleway";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: calc(49 / 42);
  letter-spacing: 2.1px;
}

.title-theme-dark {
  margin-bottom: 44px;
  color: var(--main-title-color);
}

.main-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--upper-title-color);
}

.uppertitle::before {
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--upper-title-color);
}

.uppertitle-theme-dark {
  color: var(--upper-title-color-theme-dark);
}

.uppertitle-theme-dark::before {
  background-color: var(--upper-title-color-theme-dark);
}

.undertitle {
  margin-bottom: 20px;
  height: 60px;
  font-size: 18px;
  font-style: normal;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
  color: var(--under-title-color);
}

/* Others */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1)) / var(--items);
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header.no-transparency {
background-color: rgba(25, 28, 38, 0.3);
}


.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 132px;
}
.header-logo {
  fill: rgba(48, 48, 48, 1);
}

.header.no-transparency .header-logo {
  fill: #ffffff;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: var(--indent);
}

.header-contact,
.header-nav-link {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: left;

  color: var(--main-title-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact:hover,
.header-contact:hover {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-title-color);
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
  border-color: var(--accent-color);
}

.header-group {
  display: flex;
  align-items: center;
  gap: 43px;
  padding-right: 20px;
}


/* ---------HERO---------- */

.hero-container {
  display: flex;
}

.hero-left-side {
width: 100px;
display: flex;
align-items: flex-end;
}

.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;

  background-color: var(--secondary-btn-color);
} 

.media-link {
  color: var(--upper-title-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.media-link:hover,
.media-link:focus {
  color: var(--accent-color);
}

.hero-right-side {
  position: relative;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color:rgba(25, 28, 38, 0.20);;
  background-image: url(../images/header/slider-img3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-undertitle {
  width: 360px;
  color: var(--under-tittle-color-theme-dark);
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.slider-pagination {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
}

.slider-pagination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: var(--under-tittle-color-theme-dark);
}

.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}

.slider-pagination-item.active {
  width: 18px;
  background-color: #ffffff;
}

.slider-list {
  position: absolute;
  right: 20px;
  bottom: 40px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.slider-btn {
  width: 60px;
  height: 24px;

  padding: 0;
  /* font-family: 'Open Sans'; */
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;

  color: var(--main-title-color);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.slider-btn.prev {
  text-align: left;
}
.slider-btn.next {
  text-align: right;
}

/* .current {
  color: #f7f7f7;
} */

/* ---------ABOUT--------- */
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 30px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  width: 470px;
}

.about-description {
  margin-bottom: 42px;
  color: var(--under-title-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.36px;
}

/* Price */
.price {
  max-width: 1600px;
  margin: 0 auto;
  background: var(--background-color);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.price-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;
}

.price-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item {
  display: flex;
  align-items: baseline;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
  color: var(--upper-title-color-theme-dark);
}

.price-item::before {
  display: block;
  content: "";
  flex-grow: 1;
  height: 1px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-item-service {
  order: -1;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-btn {
  display: block;
  margin: 0 auto;
}

/* Benefits */

/* Team */

.team {
  background-color: #f7f7f7;
}

.team-name {
  margin-bottom: 8px;
  color: var(--upper-title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(25 / 18);
  letter-spacing: 0.36px;
}

.team-position {
  color: #ff6c00;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-btn-color);
}

.socials-icon {
  fill: rgba(48, 48, 48, 1);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-color);
}

/* Gallery */

/* Contacts */
.contacts {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 0;
  background-color: var(--background-color);
  background-image: url(../images/contacts/booking-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}

.contacts-container {
  display: flex;
  gap: 30px;
  padding-top: 130px;
}

.booking {
  margin-left: 204px;
}

.contacts-group {
  display: block;
  margin-left: 105px;
}

.adress {
  display: flex;
  gap: 16px;
  font-weight: 700;
  color: var(--under-tittle-color-theme-dark);
}

.ft-contact {
  display: flex;
  align-items: center;
  color: var(--under-tittle-color-theme-dark);
  height: auto;
  margin-right: 16px;
}

.contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-icon {
  margin-right: 16px;
  fill: currentColor;
}

.contact-item {
  /* width: 230px; */
  padding: auto;
}

.contact-work {
  text-align: center;
  margin-top: 70px;
  color: var(--main-title-color);
}

.contact-text {
  height: auto;
  margin-bottom: 110px;
  color: var(--under-tittle-color-theme-dark);
}

/* Footer */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  margin: 0 215px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.footer-title {
  display: flex;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--under-tittle-color-theme-dark);
}

.footer-list {
  display: flex;
  align-items: center;
  margin-left: 773px;
}

.footer-list::before {
  margin-right: 20px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--upper-title-color);
}

.footer-item {
  margin-left: 40px;
}

.footer-link {
  color: var(--upper-title-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
